@primary: #2980b9;

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, "Tahoma";
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
span,
div,
p,
input {
    margin: 0;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 13px;
    //    color: #000;
    font-family: sans-serif, "Tahoma";
    font-weight: normal;
    list-style: none;
    text-decoration: none;
}

body {
    padding: 100px;
}

h1 {
    font-size: 30px;
    font-family: sans-serif;
}


.dropdown {
    //    padding: 12px 20px;
    display: inline-block;
    user-select: none;
    position: relative;

    .button-dropdown {
        background-color: #2980b9;
        cursor: pointer;
        color: white;
        border-radius: 2px;
        padding: 15px;
        text-align: center;

        i {
            transform: rotate(360deg);
        }

        .active {
            transform: rotate(180deg);
            transition: all 0.5s ease;
        }
    }

    ul {
        width: 100%;
        cursor: pointer;
        position: absolute;
        visibility: hidden;
        display: inline-block;
        margin-top: 4px;
        //        width: 100%;
        //        transition: fadeInDown 1s ease;

        :last-child {
            border-bottom: none;
        }

        :hover {
            background-color: forestgreen;
            color: white;
        }

        &.active {
            visibility: visible;
        }

        li {
            //            width: 100%;
            padding: 7px;
            border-bottom: 1px solid #eee;
            background-color: aliceblue;
        }
    }
}


.tab-container {
    //    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 5px 9px 22px -9px #808080;
    min-height: 100px;
    //    overflow: hidden;


    .tabs {

        ul {
            margin-top: 10px;
            //            border-bottom: 1px solid #eee;
            cursor: pointer;
            user-select: none;

            li {
                border: 1px solid #eee;
                border-right: none;
                color: darkgray;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                display: inline;

                &:last-child {
                    border-right: 1px solid #eee;
                }

                //                ::after {
                //                    border-bottom: 5px solid black;
                //                }

            }

            &:first-child {
                margin-left: 10px;
            }
        }

        .active-tab {
            box-shadow: 6px -10px 20px -9px #000000;
            color: black;
            border-bottom: none;
        }
    }
}

.content {
    position: relative;

    p {
        visibility: hidden;
    }

    p.active-p {
        position: absolute;
        top: 10px;
        visibility: visible;
    }
}

.num {
    color: red;
}
