<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tabs, select</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/tab.css">

</head>

<body>




    <h1>Tabs</h1>

    <div class="tab-container">
        <div class="tabs">
            <ul>
                <li class="active-tab" data-tab="#t1"><span class="tab-name">1 вкладка</span>
                <li data-tab="#t2"><span class="tab-name">2 вкладка</span>
                <li data-tab="#t3"><span class="tab-name">3 вкладка</span>
                <li data-tab="#t4"><span class="tab-name">4 вкладка</span>
                <li data-tab="#t5"><span class="tab-name">5 вкладка</span>
            </ul>
        </div>

        <div class="content">
            <p id="t1" class="active-p"><span class="num">1</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, aut nobis blanditiis! Tempore expedita excepturi sequi, dicta deserunt iusto similique ab cupiditate reprehenderit sed debitis rem magnam asperiores quisquam eius.</span></p>
            <p id="t2"><span class="num">2</span> Repellat nobis dolorem ullam quod aperiam accusantium adipisci, eaque placeat aut reprehenderit animi, earum quam in quo atque, libero debitis.</p>
            <p id="t3"><span class="num">3</span> Nihil numquam assumenda quo natus magni repellat cum similique, laborum voluptate. Rerum, maiores, incidunt. Optio dolorem beatae accusamus, facilis quibusdam!</p>
            <p id="t4"><span class="num">4</span> Est quas optio ducimus quaerat architecto tenetur pariatur iusto ipsa! Adipisci veritatis possimus, sapiente quaerat maxime mollitia excepturi? At, sapiente!</p>
            <p id="t5"><span class="num">5</span> Quod doloribus, quia at quo deserunt qui maxime, odio illum delectus maiores, dolore sit reiciendis nostrum. Numquam fuga nisi in!</p>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/tab.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
